R/C helicopters are not toys. R/C helicopter utilize various high-tech products and technologies to provide superior performance.Improper use of this product can result in serious injury or even death. Please read this manual carefully before using and make sure to be conscious of your own personal safety and the safety of others and your environment when operating all RC Helicopter products.
I assume no liability for the operation or the use of this product. Intended for use only by adults with experience flying
remote control helicopters at a legal flying field.
